fastapi==0.110.1
uvicorn[standard]==0.29.0
motor==3.3.0
pymongo==4.6.3
dnspython==2.5.0
python-dotenv==1.0.1
pydantic==2.7.0
email-validator==2.1.1
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
pyjwt==2.8.0
sqlalchemy==2.0.29
alembic==1.13.1
